
#for{
    border: 1px solid rgb(228, 225, 225);
    width: 1200px;
    height: 260px;
    margin-left: 50px;
    margin-top: 80px;
 
}
#nambox{
    width: 1150px;
    height: 36px;
    padding-left: 5px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid rgb(238, 227, 227);

}
#nam{
 padding-left: 33px;
 padding-top: 10px;

}
#phnbox{
width: 1150px; 
height: 36px;
padding-left: 5px;
margin-left: 20px;
border-radius: 5px;
border: 1px solid rgb(238, 227, 227) ;
}
#nav{
    background-color: blueviolet;
}